@model IEnumerable<ASP_ICMS.Models.SOPMaster>

@using System.Text.Encodings.Web
@using System.Text.Json

<table class="table table-bordered table-hover border-dark-subtle align-middle caption-top">
	<thead>
		<tr>
			<th>No SOP</th>
			<th>Nama SOP</th>
			<th>Divisi</th>
			<th>Jenis SOP</th>
			<th>Status Audit</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var SOPMaster in Model)
		{
			var sopObject = new
			{
				id = SOPMaster.Id,
				sopCode = SOPMaster.SOPCode,
				sopName = SOPMaster.SOPName,
				divisionId = SOPMaster.DivisionId,
				sopTypeId = SOPMaster.SOPTypes.FirstOrDefault()?.SOPTypeId,
				sopAuditTypeId = SOPMaster.AuditTypes.FirstOrDefault()?.SOPAuditTypeId,
				description = SOPMaster.AuditTypes.FirstOrDefault()?.Description
			};

			var sopJson = JsonSerializer.Serialize(sopObject);
			var encodedJson = HtmlEncoder.Default.Encode(sopJson);

			<tr>
				<td>@SOPMaster.SOPCode</td>
				<td>@SOPMaster.SOPName</td>
				<td>@SOPMaster.Division?.ChoiceName</td>
				<td>@SOPMaster.SOPTypes.FirstOrDefault()?.SOPType?.ChoiceName</td>
				<td>@SOPMaster.AuditTypes.FirstOrDefault()?.SOPAuditType?.ChoiceName</td>
				<td>
					<button class="btn btn-sm btn-outline-warning btn-edit-sop"
							data-sop='@Html.Raw(JsonSerializer.Serialize(sopObject))'>
						Edit
					</button>
				</td>
			</tr>
		}
	</tbody>
</table>