@model IEnumerable<ASP_ICMS.Models.SOPMaster>


<table class="table table-bordered table-hover border-dark-subtle align-middle caption-top">
	<caption>List of SOP</caption>
	<thead class="table-light">
		<tr>
			<th>No SOP</th>
			<th>Nama SOP</th>
			<th>Divisi</th>
			<th>Jenis SOP</th>
			<th>Status Audit</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody class="table-group-divider">
		@foreach (var SOPMaster in Model)
		{
			<tr>
				<td>@SOPMaster.SOPCode</td>
				<td>@SOPMaster.SOPName</td>
				<td>@SOPMaster.Division?.ChoiceName</td>
				<td>@SOPMaster.SOPTypes.FirstOrDefault()?.SOPType?.ChoiceName</td>
				<td>@SOPMaster.AuditTypes.FirstOrDefault()?.SOPAuditType?.ChoiceName</td>
				<td>
					@* <a class="btn btn-outline-secondary btn-sm" href="@Url.Action("Details", "SOPMaster", new { id = SOPMaster.SOPId })">Detail</a> *@
					@* <a class="btn btn-outline-warning btn-sm" href="@Url.Action("Edit", "SOPMaster", new { id = SOPMaster.SOPId })">Edit</a> *@
					@* <a class="btn btn-outline-danger btn-sm" href="@Url.Action("Delete", "SOPMaster", new { id = SOPMaster.SOPId })">Delete</a> *@
				</td>
			</tr>
		}
	</tbody>
</table>

